nav {
  background-color: rgb(153, 203, 160);
  padding: 10px;
}
  
nav a {
  color: rgb(0, 0, 0);
  padding: 10px;
  display: block;
}
  
h1 {
  color: rgb(123, 103, 23);
}
    
main img {
  max-width: 150px; 
  height: auto;
  border: 1px solid rgb(18, 102, 18);
  padding: 2px;
  box-shadow: 0 0 30px rgb(195, 199, 179); 
}
  
p {
  padding: 0; 
}
  
main {
  max-width: 840px;
  margin: 0 auto;
}
  
aside {
  width: 20em;
  margin-left: 1em;
  border: 1px solid #056e02;
  padding: 1em;
  background-color: #af6e6e;
  text-align: center;
}
  
aside img {
  max-width: 200px;
  height: auto;
}
  
footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
  