nav {
  background-color: rgb(148, 95, 15);
  padding: 10px;
}

a {color:azure ;
}

h1 {
  color: darkgray;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 10px;
}